*{  
  padding: 0;  
  margin: 0;  
  box-sizing: border-box;  
} 

html{
scroll-behavior: smooth;
}

:root{
--background: #081224;    
--card-bg: #101B36;       
--card-hover: #162547;
--primary: #FFC107;   
--primary-hover: #FFD54F;  
--white: #FFFFFF;         
--text-gray: #C9D1D9;   
--border: #2B3D63;  
--black:hsl(60.3,0%,0%);
}

body{
font-family: "Inter", Sans-serif;
background: var(--background);
font-size: 1em;
color: var(--white);
}

header,nav,main,footer{
display: grid;
grid-template-columns: 100%;
}

:is(header:hover,header:focus-within) .button-icon{
background: transparent;
transform: rotate(720deg);
}

:is(header:hover,header:focus-within) .button-icon::before{
transform: translateX(-20px) rotate(45deg);
}

:is(header:hover,header:focus-within) .button-icon::after{
transform: translateX(-20px) rotate(-45deg);
}

:is(header:hover,header:focus-within) nav{
display: block;
}

header{
background: var(--card-bg);
position: sticky;
z-index: 1;
top: 0em;
}

.section{
display: flex;
flex-flow: row no-wrap;
justify-content: space-between;
align-items: center;
height: 70px;
}

.section-left{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.section img{
    display: block;
  max-width: 100%;
  height: auto;
}

.section .h1{
font-size: 1rem;
color: var(--white);
margin: auto;
}

.section .small-hd{
color: var(--text-gray);
font-size: 0.8rem;
}

.main-button{
display: flex;
justify-content: center;
align-items: center;
border: none;
background: transparent;
margin-right: 1em;
width: 48px;
height: 48px;
position: relative;
}

.button-icon,
.button-icon::before,
.button-icon::after{
position: absolute;
width: 40px;
height: 5px;
background: var(--white);
border-radius: 5px ;
transition: all 0.5s;
}

.button-icon::before,
.button-icon::after{
content: "";
}

.button-icon::before{
transform: translate(-20px,-12px);
}

.button-icon::after{
transform: translate(-20px ,12px);
}

nav{
display: none;
background: var(--card-bg);
transform-origin: top center;
animation: show-menu ease-in-out forwards;
}

@keyframes show-menu{
0%{
transform: scaleY(0);
}

88%{
transform: scaleY(1.2);
}

100%{
transform: scaleY(1);
}
}

nav a{
display: block;
text-decoration: none;
color: var(--white);
-webkit-tap-highlight-color:transparent;
}

nav ul{
list-style: none;
text-align: center;
}

nav li{
padding: 1em;
list-style: none;
text-decoration: none;
border-top: 1px solid var(--background);
}

nav li:any-link{
color: var(--white);
}

nav li:hover,
nav li:focus{
transform: scale(0.9);
}

.hero{
display: flex;
flex-direction: column;
place-content: center;
min-height: 100vh;
padding-left: 0.6em;
background-image: url('../img/home.jpg');
background-repeat: no-repeat;
background-size: cover;
text-shadow: 1px 1px 2px var(--black);
background-color: var(--background);
}

h1{
font-family:"Space Grotesk", "Sans-Serif";
font-weight: 700;
}

.hero p{
font-family: "inter","Sans-Serif";
font-weight: 400;
}

h1,
.hero p{
margin-bottom: 0.5em;
}

.herocontent p:not(.cta p){
  font-size: 1rem;
  line-height: 1.3;
}

.hero img{
display: none;
}

.herocontent p{
flex-wrap: no-wrap;
}

.cta a{
display: block;
text-decoration: none;
color: black;
-webkit-tap-highlight-color:transparent;
}

.cta{
font-family:"Manrope" ;
font-weight: 700;
display: flex;
}

.cta p{
border: 1px;
border-radius: 5px;
background: var(--primary);
text-shadow: none;
padding: 0.5em;
margin: 2em 0.5em 0em 0.5em;
}

.cta p:hover{
transform: scale(0.9);
background: var(--primary-hover);
transition-duration: 0.3s;
}

.detail{
font-family: "Inter","Space Grotesk";
padding-bottom: 2.5em;
background: var(--card-bg);
margin-bottom: 2em;
}

.div{
display: flex;
justify-content: space-evenly;
gap: 3em;
margin: 3em 0.5em 0em 0.5em;
}

.div p{
text-align: center;
}

.service a{
-webkit-tap-highlight-color: transparent;
text-decoration: none;
color: var(--text-gray);
}

.service{
display: flex;
background: var(--card-bg);
border-radius: 5px;
border: 0.5px solid var(--border);
padding: 2em;
margin: 0em 0.5em 1.5em 0.5em;
overflow-x: auto;
scroll-behavior: smooth;
}

.service div:hover{
border: 1px solid var(--primary);
box-shadow: 0px 0px 4px var(--primary);
transform: scale(1.1);
transition-duration: 0.5s;
}

.service::-webkit-scrollbar{
display: none;
}

.service div{
place-content:center;
border: 0.5px solid var(--border);
border-radius: 20px;
gap: 5em;
padding: 1em;
margin: 0em 0.5em 1em 0.5em;
width: 250px;
height: 250px;
}

.service div p{
text-align: center;
}

.service div p:not(.p){
font-family: "Manrope","Sans-Serif";
color: var(--white);
font-weight: 700;
}

.service .p {
font-weight: "Inter","Sans-Serif";
font-weight: 400;
padding-top: 1em;
}

.service i{
display: flex;
justify-content: center;
font-size: 2em;
color: var(--primary);
}

.maincover{
font-family: "Space Grotesk","Sans-Serif";
font-weight: 700;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 0.5em;
}

.maincover p:not(.cover){
font-size: 0.7rem;
color: var(--primary);
}

.cover{
font-size: 1.5rem;
font-weight: bold;
}

.choose,
.whyush2,
.bold{
font-family:"Space Grotesk", sans-serif;
font-weight:700;
}

.whyus img{
display: block;
max-width: 100%;
height: auto;
border-radius: 40px;
}

.whyus{
background: var(--card-bg);
border-radius: 10px;
margin: 3em 0.5em 1.5em 0.5em;
border: 0.5px solid var(--border);
}

.whyus .headset{
font-size: 2em;
color: var(--primary);
}

.whyus div i:first-child{
color: var(--primary);
}

.whyush2{
font-size: 1.2em;
font-weight: 700;
margin: 1em 0em 1em 0em;
}

.whyus div:not(.img,.help){
padding: 1em;
}

.whyus div{
line-height: 1.5;
}

.whyus .help{
padding-top: 2em;
}

.whyus-details{
  font-family:"Sans-serif";
  font-size: 1rem;
  color: var(--text-gray);
  margin-bottom: 1em;
}

.choose{
font-size: 1.5em;
color: var(--primary);
}

.span{
color: var(--text-gray);
}

.call{
font-size: 1em;
color: var(--text-gray);
}

.card{
background: var(--card-bg);
border-radius: 10px;
margin: 0em 0.5em 1.5em 0.5em;
padding: 1em;
border: 0.5px solid var(--border);
line-height: 1.5;
}

.card img {
margin-bottom: 1em;
display: block;
max-width: 100%;
height: auto;
border-radius: 40px;
}

.card .cardhd{
font-family:"Space Grotesk";
font-weight: 700;
color: var(--white);
}

.card div p:not(.cardhd,book){
color: var(--text-gray);
}

.logo img a{
  display: inline-block;
}

.logo img{
  max-width: 100px;
  height: auto;
  posiion: fixed;
  margin-left: 17em;
}

.book a{
text-decoration: none;
-webkit-tap-highlight-color:transparent;
color: var(--black);
}

.book{
font-family:"Manrope" ;
font-weight: 700;
border: 0.5px;
border-radius: 5px;
background: var(--primary);
padding: 0.5em;
margin-top: 0.5em;
width: 30%;
text-align: center;
}

.book:hover{
background: var(--primary-hover);
transform: scale(0.9);
transition-duration: 0.3s;
}

h4{
 font-family: "Space Grotesk","Sans-Serif";
font-size: 1.5rem;
font-weight: bold;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 0.5em;
}

.client{
  display: flex;
  margin: auto;
overflow:  auto;
margin-top: 1.5em;
scroll-behavior: smooth;
transition: scroll 5s linear ;
margin-right: 1em;
margin-left: 1em;
}

@keyframes scroll{
    from{
        transform: translate(0%);
    }
    
    to{
      transform: translate(-900px);
    }
}

.client div p{
  animation:scroll 10s linear infinite;
  place-content: center;
  background: var(--card-bg);
border: 0.5px solid var(--border);
border-radius: 20px;
margin-right: 1em;
margin-left: 1em;
padding:0.5em;
left: -100px;
width: 250px;
height: 194px;
}

 div:last-child{
  margin-left: 0em;
}

.client p:not(.Cl){
  color: var(--text-gray);
}

.client div:hover{
    animation-play-state: paused;
}

.client:-webkit-scrollbar{
  display: block;
}

.Cl{
  color: var(--white);
  font-weight: bold;
}

.footer{
font-family: "Manrope","Sans-Serif";
font-size: 0.8rem;
gap: 1em;
}

.toni{
padding: 1em;
line-height: 1.5em;
}

.footer i{
color: var(--primary);
font-size: 1rem;
padding: 0.5em;
}

i:hover{
color: var(--primary-hover);
}

h5{
font-size: 0.8rem;
}

.footer div{
border-bottom: 0.5px solid var(--border);
padding: 1em;
}

.footer div:first-child{
text-align: center;
padding: 1em;
}

.footer div:nth-child(3),
h5:not(.u h5){
line-height: 1.5;
}

.u h5{
margin-left: 1.4em;
}

.footer div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: sticky;
  bottom: 0;
  border-bottom: none;
  color: var(--white);
  background: var(--background);
  padding: none;
}

/* Tablets */
@media (min-width: 768px) {

:root{
--background: #081224;  
--card-bg: #101B36;        
--card-hover: #162547;     
--primary: #FFC107;     
--primary-hover: #FFD54F;  
--white: #FFFFFF;          
--text-gray: #C9D1D9;   
--border: #2B3D63;    
}

:is(header:hover,header:focus-within) .button-icon{
background: transparent;
transform: rotate(720deg);
}

:is(header:hover,header:focus-within) .button-icon::before{
transform: translateX(-20px) rotate(45deg);
}

:is(header:hover,header:focus-within) .button-icon::after{
transform: translateX(-20px) rotate(-45deg);
}

:is(header:hover,header:focus-within) nav{
display: block;
}

header{
background: var(--card-bg);
}

.section {
.h1:not(.small-hd){
font-size: 1rem;
color: var(--white);
}

.small-hd{
font-size: 1rem;
color: var(--text-gray);
}
}

nav li{
font-size: 1.5rem;
}

.hero{
min-height: 1000px;
background-image: url('../img/home.jpg');
background-size: cover;
object-fit: cover;

.herocontent{  
 background: hsla(60.3,14.5%,9.2%,0.305);  
  border-radius: 10px;  
  padding: 1em;  
  margin: 6.8em 0em 0.5em;
}  
  
h1{  
  font-size: 3rem;  
}  
  
p:not(.cta p){  
  font-size: 1.3rem;  
  text-shadow: none;  
  color: var(--white);  
  width: 40ch; 
}  
  
.cta p{  
  font-size: 1.3rem;  
  text-shadow: none;  
}  
   }

.detail{
font-family: "Inter","Space Grotesk";
font-size: 2em;
}

.maincover p:not(.cover){
font-size: 1.5rem;
}

.cover{
font-size: 2em;
}

.service{
font-size: 1.5em;

.p{
font-size: 1.2rem;
}

div{
border-radius: 50px;
height: 300px;
}

div:hover{
background: none;
border: 1.5px solid var(--primary);
box-shadow: 0px 0px 6px var(--primary);
}

div:nth-child(6){
padding-bottom: 1.5em;
}

div:nth-child(7){
padding-bottom: 1.5em;
}

div:nth-child(10){
padding-bottom: 1.5em;
}

div:nth-child(11){
padding-bottom: 1.5em;
}

div:nth-child(12){
padding-bottom: 1.5em;
}

div:last-child{
padding-bottom: 1.5em;
}
}

.whyus{
font-family: "Space Grotesk","Sans-Serif";
margin-right: 1em;
margin-left:1em ;

.choose{
font-size: 2em;
}

.whyush2,.headset{
font-size: 3em;
}

p{
font-size: 1.5em;
}

.whyus img{
display: block;
border-radius: 10px;
max-width: 100%;
height: auto;
}

.whyus-details{
  width: 27ch;
}

.grid{
display: block;
justify-content: center;
align-items: center;
flex-direction: row;
}

.help{
padding-left: 2em;
padding-bottom: 1em;

.book{
text-align: center;
font-size: 1.3rem;
max-width: 60%;
}
}
}

.card{
.cardhd{
font-family:"Space Grotesk";
font-size: 1.5rem;
font-weight: 700;
}

div p:not(.cardhd){
font-family:"Manrope" ;
font-size: 1.3rem;
}
}

.footer{

font-family: "Manrope","Sans-Serif";
font-size: 1.2rem;
gap: 1.5em;

.toni{
padding: 1em;
line-height: 1.5em;
}

icons a{
-webkit-tap-highlight-color:transparent;
}

i{
color: var(--primary);
font-size: 1.5rem;
padding: 0.4em;
}

i:hover{
color: var(--primary-hover);
}

h5{
padding: 0.5em;
font-size: 1rem;
}

div:not(:last-child){

border-bottom: 0.5px solid var(--border);
padding: 1em;
}

div:first-child{
text-align: center;
padding: 1em;
}

div:nth-child(3){
line-height: 1.5;
padding-bottom: 1em;
}

div:last-child{
  font-size: 0.9rem;
  color: var(--white);
}

}

}

/* Laptops */
@media (min-width: 1024px) {
body{
font-family: "Inter", sans-serif;
}

:is(header:hover,header:focus-within) .button-icon{

background: transparent;
transform: rotate(720deg);
}

:is(header:hover,header:focus-within) .button-icon::before{
transform: translateX(-20px) rotate(45deg);
}

:is(header:hover,header:focus-within) .button-icon::after{
transform: translateX(-20px) rotate(-45deg);
}

:is(header:hover,header:focus-within) nav{
display: block;
}

header{
background: var(--card-bg);
}

.section{  
  .h1:not(.small-hd){  
    font-size: 1.3rem;  
  }  
    
  .small-hd{  
    font-size: 1.2rem;  
  }  
}  
  
.hero{  
    
  h1{  
    font-size: 4rem;  
    width: 25ch;  
  }  
    
  p:not(.cta p){  
    font-size: 2.5rem;  
  }  
    
  .cta p{  
    font-size: 2rem;  
    border-radius: 10px;  
    margin-bottom: 1em;  
  }  
}  

.details p{  
  font-size: 2.5rem;  
}

.maincover{
margin-bottom: 1em;
p:not(.cover){
font-size: 1.8rem;
}

.cover{  
font-size: 2rem;  
}

}

.service{  
  margin-left: 1em;  
  margin-right: 1em;  
  border-radius: 90px;  
    
  div p:not(.p){  
    font-size: 1.5rem;  
  }  
    
  .p{  
    font-size: 1.5rem;  
  }  
}

.whyus{
p{
font-size: 1.7rem;
}
}

.grid{
img{
max-width: 100%;
height: auto;
box-shadow:0px 0px 10px var(--background);
border-radius: 80px;
border: 1px solid var(--background);
}

.bold{  
   font-size: 2rem;  
 }  
   
 .call{  
   font-size: 1.7rem;  
 }  
   
   .logo{
  display: none;
}
   
 .book{  
   padding: 0.1em;  
  max-width: 120px;  
   text-align: center;  
 }

}

.card{

.book{
padding: 0.3em;
  max-width: 120px;  
text-align: center;
}

.order{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-left: 1em;
margin-right: 8em;
}

img{
max-width: 100%;
height: auto;
order: 1;
box-shadow:0px 0px 10px var(--primary);
border-radius: 80px;
border: 1px solid var(--primary);
}

div{
align-items: center;
order: -1;
flex: 1;
}

.cardhd{
font-size: 2rem;
}

p:not(.cardhd,.book){  
    font-size: 1.7rem;  
  }  
    
}  
  
.footer{  
font-family: "Manrope","Sans-Serif";  
  
.toni{  
  font-size: 1.5rem;
 padding: 1em;
 line-height: 1.5em;
}

p:not(.toni){
font-size: 1.3em;
}

icons  a{
-webkit-tap-highlight-color:transparent;
}

i{
color: var(--primary);
font-size: 1.5rem;
padding: 0.4em;
}

i:hover{
color: var(--primary-hover);
}

h5{
font-size: 1.5em;
}

.u h5{
margin-left: 0.5em;
}

div:last-child{
  color: var(--white);
  font-size: 1rem;
}
}

}

/* Large desktops */
@media (min-width: 1280px) {
body{
font-family: "Inter", sans-serif;
}

.hero{  
    
  h1{  
    font-size: 4rem;  
    width: 20ch;  
  }  
    
  p:not(.cta p){  
    font-size: 2.5rem;  
  }  
    
  .cta p{  
    font-size: 2rem;  
    border-radius: 10px;  
    margin-bottom: 5em;  
  }  
    
  .herocontent{  
    margin-bottom: 9em;  
  }  
    
}  
  
.details p{  
  font-size: 2.5rem;  
}

.maincover{
margin-bottom: 1em;
p:not(.cover){
font-size: 1.8rem;
}

.cover{  
font-size: 2rem;  
}

}

.service{  
  margin-left: 1em;  
  margin-right: 1em;  
  border-radius: 90px;  
    
  div p:not(.p){  
    font-size: 1.5rem;  
  }  
    
  .p{  
    text-align:center;  
    font-size: 1.5rem;  
  }  
    
}

.whyus{
display: flex;
justify-content: column;

p{  
   font-size: 1.7rem;  
 }

.grid{
align-items: center;

img{  
   display: block;  
      margin-top: 10em;
   margin-bottom: 0em;  
   max-width: 100%;  
   height: auto;  
 box-shadow:0px 0px 10px var(--primary);
 border: 1px solid var(--primary);  
 }  
   
 .help{  
     
   .headset{
     font-size: 4em;  
   }  
    
    .bold{  
   text-align: left;  
   margin-bottom: 0.4em;  
   font-size: 2rem;  
 }  
   
 .call{  
   text-align: left;  
   font-size: 1.7rem;  
   line-height: 1em;  
 }  
   
 .book{  
   padding: 0.1em;  
  max-width: 60%;  
   text-align: center;  
 }    
 }  
}
}

.card{

.order{
  
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-left: 13em;
margin-right: 8em;
}

img{
max-width: 100%;
height: auto;
order: 1;
box-shadow:0px 0px 20px var(--background);
border-radius: 80px;
border: 1px solid var(--background);
}

div{
align-items: center;
order: -1;
flex: 1;
}

.cardhd{
font-size: 2rem;
}

p:not(.cardhd,.book){  
    font-size: 1.7rem;  
  }  
    
}  
  
.footer{  
font-family: "Manrope","Sans-Serif";  
  
.toni{  
  font-size: 1.5rem;

padding: 1em;
line-height: 1.5em;
}

p:not(.toni){
font-size: 1.3em;
}

icons  a{
-webkit-tap-highlight-color:transparent;
}

i{
color: var(--primary);
font-size: 1.5rem;
padding: 0.4em;
}

i:hover{
color: var(--primary-hover);
}

h5{
font-size: 1.5em;
}

.u h5{
margin-left: 0.5em;
}

}
.footer:last-child{
  color: var(--white);
  font-size: 1rem;
}
}