*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root {
  --primary: #6E3FCF;/*buttons,link,headings*/
  --primary-light: #B7A4E8;/*Hover effect and container: ;*/
  --background: #FFFFFF;/*main bks*/
  --section: #E7E5EC;/*section bk*/
  --text: #000000;/*main text*/
  --dark: #2F293F;/*footer,secondary text*/
}

nav a{
  display: block;
  -webkit-tap-highlight-color:transparent;
  text-decoration: none;
  color: var(--text);
}

body{
  font-family: "Manrope",Sans-Serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
}

header,main,nav,footer{
  display: grid;
  grid-template-columns: 100%;
}

 header{
   font-family: "Space Grotesk",Sans-Serif;
   background-color: var(--background);
 }

h1{
font-family: "Space Grotesk",Sans-Serif;
 color: var(--background);
}

nav{
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  z-index: 1;
  top: 0.5em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--primary);
  color: var(--background);
}

 nav :hover{
   color: var(--primary-light);
   text-decoration: underline;
 }
 
 nav :active{
   
 }
 
.hero{
  width: 100%;
 min-height: 900px;
  place-content: center;
  background-image: url('../img/Heroft.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 }
 
 .hero p{
   margin-top: 0.5em;
   margin-left: 0.5em;
   color: var(--background);
   line-height: 1.5;
 }
 
  .tech a{
   -webkit-tap-highlight-color: transparent;
   text-decoration: none;
 }
 
 .tech{
   font-weight: bold;
   position: fixed;
   z-index: 1;
   color: var(--primary);
   top: 50px;
   right: 50px;
 }
 
 .tech:hover{
   text-decoration: underline;
   color: red;
 }
 
 .shop a{
   -webkit-tap-highlight-color: transparent;
   color: var(--background);
   text-decoration: none;
 }
 
 .shop{
    background: var(--primary);
    border: 0px;
    border-radius: 5px;
    margin-right: 0.5em;
    padding: 0.5em;
  }
 
 .shopdiv{
  display: flex;
  text-align: center;
  margin-top: 2em;
  margin-left: 0.5em;
 }
  
 .shop:hover{
   background: linear-gradient(var(--text), var(--primary));
   opacity: 0.8;
   transform: scale(0.9);
   transition-duration: 0.5s;
 }
 
 .categories a{
  display: block;
  -webkit-tap-highlight-color:transparent;
  color: var(--text);
  text-decoration: none;
 }
 
 .categories{
   display: flex;
   justify-content: center;
   padding: 0.5em;
 }
 
.categories div{
  border: 1px solid var(--section-bg);
  background: var(--section-bg);
  padding: 0.5em;
  margin: 1em;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 3px var(--primary);
  gap: 1em;
  }
  
  .categories div:hover{
  transform: translateY(-5px);
  border: 1px solid var(--primary-light);
  }
  
  .cathead{
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .container a{
  display: block;
  -webkit-tap-highlight-color:transparent;
  }
  
  .container{
    padding: 2em;
    background: var(--section);
    line-height: 1.5;
  }
  
  .container div{
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 10px ;
  background: var(--background);
  }
  
  .color{
    color: red;
  }
  
  .bold{
    font-weight: bold;
  }
 
  .container figure{
   border: 0.5px solid var(--dark);
    box-shadow: 0px 0px 3px var(--text);
   border-radius: 10px;
   margin-bottom: 1em;
 }
 
  .container figure:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
  border: 1px solid var(--primary-light);
  }
 
 .container img{
   display: block;
   max-width: 100%;
   justify-content: flex-start;
   border-radius: 15px;
 }
 
 .smcont{
   text-align: center;
   padding: 1em;
   margin: 1em;
   border:  var(--section);
 }
 
 .smcont div{
   border: 0px;
   border-radius: 10px;
   line-height: 1.5;
   box-shadow: 0px 0px 3px var(--text);
   padding: 1em;
   margin: 1em;
 }
 
 .view a{
   display: block;
   -webkit-tap-highlight-color: transparent;
   text-decoration: none;
   color: var(--background);
 }
 
 .view{
  text-align: center;
  padding: 1em;
  border: 0px ;
  border-radius: 5px;
  background: var(--primary);
 }
 
 .view:hover{
   transition-duration: 0.5s;
   
   color: var(--background);
   border: 0.5px ;
   transform:scale(0.9);
 }
 
 .whyus{
   font-weight: bold;
 }
 
 footer a{
  display: block;
  -webkit-tap-highlight-color:transparent;
  text-decoration: none;
  color: var(--section-bg);
}
 
 footer a:hover{
   text-decoration: underline;
 }
 
 footer{
   display:flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   font-size: 0.5rem;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background: linear-gradient( var(--text),
   var(--primary));
   color: var(--background);
 }
 
 footer div{
   padding: 1.5em;
   line-height: 2;
 }
 
 .foothd{
   font-weight: bold;
   margin-bottom: 0.5em;
 }
 
 .fth{
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   line-height: 1;
 }